<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 不使用namespace的话sql搜索定位会比较方便-->
<mapper namespace="com.neusoft.mapper.UserPostMapper">

     <!-- 实体类与数据库映射字段部分  start -->
	<resultMap id="ResultMapUserPost" type="com.neusoft.po.UserPost">
        <result property="id" column="id"  jdbcType="INTEGER"/>
        <result property="userId" column="user_id"  jdbcType="INTEGER"/>
        <result property="title" column="title"  jdbcType="VARCHAR"/>
        <result property="field0" column="field0"  jdbcType="VARCHAR"/>
        <result property="field1" column="field1"  jdbcType="VARCHAR"/>
        <result property="field2" column="field2"  jdbcType="VARCHAR"/>
        <result property="content" column="content"  jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time"  jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time"  jdbcType="TIMESTAMP"/>
	</resultMap>
	 <!-- 实体类与数据库映射字段部分  end -->
	 
	 <!-- 声明数据库字段 -->
	<sql id="UserPost_field">
           id,
           user_id,
           title,
           field0,
           field1,
           field2,
           content,
           create_time,
           update_time
	</sql>
	
	<!-- 实体类属性  -->
	<sql id="UserPost_insert">
        	#{id} ,
        	#{userId} ,
        	#{title} ,
        	#{field0} ,
        	#{field1} ,
        	#{field2} ,
        	#{content} ,
        	#{createTime} ,
        	#{updateTime} 
	</sql>
	
	<!-- 执行修改时 数据库字段和表字段比较 -->
	<sql id="UserPost_update">
		    <if test="userId != null" >
	            user_id = #{userId} ,
	        </if>
		    <if test="title != null and title !='' " >
	            title = #{title} ,
	        </if>
		    <if test="field0 != null and field0!='' " >
	            field0 = #{field0} ,
	        </if>
		    <if test="field1 != null" >
	            field1 = #{field1} ,
	        </if>
		    <if test="field2 != null" >
	            field2 = #{field2} ,
	        </if>
			<if test="content != null and content !='' " >
				content = #{content} ,
			</if>
		    <if test="createTime != null" >
	            create_time = #{createTime} ,
	        </if>
		    <if test="updateTime != null" >
	            update_time = #{updateTime} 
	        </if>
	</sql>
	
	<!-- 查询时条件 -->
	<sql id="UserPost_where">
	        <if test="id != null " >
	            and id =#{id}
	        </if>
	        <if test="userId != null " >
	            and user_id =#{userId}
	        </if>
	         <if test="title != null and title !='' " >
	            and title =#{title}
	        </if>
	         <if test="content != null and content !='' " >
	            and content =#{content}
	        </if>
	        <if test="field0 != null and field0!='' " >
	            and field0 =#{field0}
	        </if>
	        <if test="field1 != null " >
	            and field1 =#{field1}
	        </if>
	        <if test="field2 != null " >
	            and field2 =#{field2}
	        </if>
	        <if test="createTime != null " >
	            and create_time =#{createTime}
	        </if>
	        <if test="updateTime != null " >
	            and update_time =#{updateTime}
	        </if>
	        order by id desc
	</sql>
	
   <!-- **************************************分割线************************************************************ -->	
	
	<!-- 以下是sql执行语句 
	     注意：1)需要传参数的请注意你使用的方法是 xxByMap还是ByEntuty 存放的参数类型不一致。
	      2)非自定义的方法已经是basedao注明的。方法名一定要和id相同
	      3)自定义类的方法注意是否和共有方法重名id
	      4)执行sql出现顺序和baseDao方法一致，便于查询请勿随意添加，自定义的sql一律放在自定义sql区域
	 -->
	
	
   <!-- ========================================新增==================================================================== -->
	<!-- 
	 【注意添加序列】
	 1.方法描述：新增数据
	 2.参数：实体类
	 3.返回：主键
	-->
	<insert id="insert" parameterType="com.neusoft.po.UserPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_post (
        <include refid="UserPost_field" />
        ) VALUES (
        <include refid="UserPost_insert" />       
        )
	</insert>
	
	
	 <!-- ========================================删除==================================================================== -->
	<!-- 
	 1.方法描述：根据主键id删除
	 2.参数：主键id
	-->
	<delete id="deleteById" parameterType="java.lang.Integer">
	 delete from user_post where id=#{id}
	</delete>
	
	
	<!-- 
	 1.方法描述：根据实体类删除
	 2.参数：主键id
	-->
	<delete id="deleteByEntity" parameterType="com.neusoft.po.UserPost">
	 delete from user_post
	  WHERE 1=1
      <include refid="UserPost_where" />   
	</delete>
	
	
	<!-- 
	 1.方法描述：根据map删除
	 2.参数：主键id
	-->
	<delete id="deleteByMap" parameterType="java.util.HashMap">
	 delete from user_post
	  WHERE 1=1
      <include refid="UserPost_where" />   
	</delete>
	
	
	 <!-- ========================================修改==================================================================== -->
	<!-- 
	 1.方法描述：修改数据
	 2.参数：实体类
	-->
	<update id="update" parameterType="com.neusoft.po.UserPost">
        UPDATE user_post
        <set>
	        <include refid="UserPost_update" />
	    </set>
        WHERE 1=1
        	<include refid="UserPost_where" />        
	</update>
	
	<!-- 
	 1.方法描述：修改数据通过id
	 2.参数：实体类
	 -->
	<update id="updateById" parameterType="com.neusoft.po.UserPost">
        UPDATE user_post
        <set>
	        <include refid="UserPost_update" />
	    </set>
        WHERE 1=1
        	and id=#{id}      
	</update>
	
	
	
	 <!-- ========================================查询列表【不分页】==================================================================== -->
	
	<!-- 
	 1.方法描述：用于listByMap根据map查询
	 2.参数：map
	-->
	<select id="listByMap" resultMap="ResultMapUserPost" parameterType="map">
		select <include refid="UserPost_field" />
 		from user_post where 1=1
 		<include refid="UserPost_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：用于select查询所有
	 2.参数：无参数
	-->
	<select id="listAll" resultMap="ResultMapUserPost">
		select <include refid="UserPost_field" />
 		from user_post 
	</select>
	
	
	<!-- 
	 1.方法描述：查询所有实体,根据实体属性值为判断条件查询所有实体，
	 2.参数：Entity
	-->
	<select id="listAllByEntity" resultMap="ResultMapUserPost" parameterType="com.neusoft.po.UserPost">
		select <include refid="UserPost_field" />
 		from user_post where 1=1
 		<include refid="UserPost_where" /> 
	</select>
	
	
	
	 <!-- ========================================查询单个对象==================================================================== -->
	<!-- 
	 1.方法描述：select查询单个
	 2.参数：id
	-->
	<select id="load" resultMap="ResultMapUserPost" parameterType="java.lang.Integer">
		select 	<include refid="UserPost_field" />
 		from user_post 
 		where id=#{id}
	</select>
	
	
	
	<!-- 
	 1.方法描述：select查询单个
	 2.参数：id
	-->
	<select id="getById" resultMap="ResultMapUserPost" parameterType="java.lang.Integer">
		select 	<include refid="UserPost_field" />
 		from user_post 
 		where id=#{id}
	</select>
	
	<!-- 
	 1.方法描述：用于getByMap根据map查询
	 2.参数：map
	-->
	<select id="getByMap" resultMap="ResultMapUserPost" parameterType="map">
		select <include refid="UserPost_field" />
 		from user_post where 1=1
 		<include refid="UserPost_where" /> 
	</select>
	
	<!-- 
	 1.方法描述：用于Entity根据Entity查询
	 2.参数：Entity
	 -->
	<select id="getByEntity" resultMap="ResultMapUserPost" parameterType="com.neusoft.po.UserPost">
		select <include refid="UserPost_field" />
 		from user_post where 1=1
 		<include refid="UserPost_where" /> 
	</select>
	
	
	 <!-- ========================================查询列表【分页】==================================================================== -->
     <!-- 
	 1.方法描述：分页
	 2.参数：map
	 -->
	<select id="findByMap" resultMap="ResultMapUserPost" parameterType="map">
		select <include refid="UserPost_field" />
 		from user_post where 1=1
 		<include refid="UserPost_where" /> 
	</select>
	
     <!-- 
	 1.方法描述：分页
	 2.参数：Entity
	 -->
	<select id="findByEntity" resultMap="ResultMapUserPost" parameterType="com.neusoft.po.UserPost">
		select <include refid="UserPost_field" />
 		from user_post where 1=1
 		<include refid="UserPost_where" /> 
	</select>
	
	
   <!-- ******************************自定义 sql************************************************************** -->
   
   <!-- 
           通过sql查询单个对象 返回对象
    -->
   <select id="getBySqlReturnEntity" resultMap="ResultMapUserPost">
		${sql}
   </select>
   
    <!-- 
           通过sql查询单个对象 返回map
    -->
   <select id="getBySqlReturnMap" resultType="map">
		${sql}
   </select>
   
   <!-- 
           通过sql查询集合 返回对象
    -->
   <select id="listBySqlReturnEntity" resultMap="ResultMapUserPost">
		${sql}
   </select>
   
    <!-- 
           通过sql查询查询集合 返回map
    -->
   <select id="listBySqlReturnMap" resultType="map">
		${sql}
   </select>
   
   <!-- 
           通过sql查询分页集合 返回对象
    -->
   <select id="findBySqlRerturnEntity" resultMap="ResultMapUserPost">
		${sql}
   </select>
   
   <!-- 通过sql修改 -->
   <update id="updateBysql">
       ${sql}  
   </update>
   
   <delete id="deleteBySql">
	${sql}  
	</delete>
	
</mapper>

